{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h2>Вы вошли как {{ request.user.username }}</h2>

    <h1>Новости (всего {{ allnews|length }})</h1>
    <hr>
{% if allnews %}
    <table>
        <tr>
            <td><b>Заголовок</b></td>
            <td><b>Дата публикации</b></td>
            <td><b>Содержание</b></td>
        </tr>
        {% for news in allnews %}
        <tr>
            <td>{{ news.title|censor }}</td>
            <td>{{ news.post_time|date:"d M Y" }}</td>
            <td>{{ news.text|truncatewords:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Новостей нет!</h2>
{% endif %}

{% if is_not_author %}
    <button><a href="/news/upgrade/">Стать автором</a></button>
{% endif %}

<p></p>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">&laquo; first</a>
            {% if page_obj.previous_page_number != 1 %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        <span class="current">
            {% if  page_obj.paginator.num_pages != 1 %}
                {{ page_obj.number }}
            {% endif %}
        </span>

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">last &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
</div>
{% endblock content %}