{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h2>Вы вошли как {{ request.user.username }}</h2>

    <h1>Новости (всего {{ category_news_list|length }})</h1>

{% if is_not_author %}
    <button><a href="{% url 'upgrade' %}">Стать автором</a></button>
{% endif %}
{% if is_not_subscriber %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
{% endif %}
    <hr>

{% if category_news_list %}
    <table>
        <tr>
            <td><b>Заголовок</b></td>
            <td><b>Категории</b></td>
            <td><b>Дата публикации</b></td>
            <td><b>Содержание</b></td>
        </tr>
        {% for news in category_news_list %}
        <tr>
            <td>
                <a href="{% url 'news_detail' news.id %}">{{ news.title|censor }}</a>
                <a href="{% url 'news_edit' news.id %}"><u>Редактировать</u></a>
                <a href="{% url 'news_delete' news.id %}"><u>Удалить</u></a>
            </td>
            <td>
                {% for category in news.category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                {% endfor %}
            </td>
            <td>{{ news.post_time|date:"d M Y" }}</td>
            <td>{{ news.text|truncatewords:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Новостей нет!</h2>
{% endif %}

<p></p>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">&laquo; first</a>
            {% if page_obj.previous_page_number != 1 %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        <span class="current">
            {% if  page_obj.paginator.num_pages != 1 %}
                {{ page_obj.number }}
            {% endif %}
        </span>

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">last &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
</div>
{% endblock content %}