{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Search
{% endblock title %}

{% block content %}
    <h1>Новости (всего {{ posts|length }})</h1>
    <h3>{% current_time '%Y %b %d' %}</h3>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <!-- <input type="date" min="2024-04-01" max="{% current_time %}" value="{% current_time %}"> -->
        <input type="submit" value="Найти" />
    </form>
    <hr>

{% if posts %}
    <table>
        <tr>
            <td><b>Заголовок</b></td>
            <td><b>Дата публикации</b></td>
            <td><b>Содержание</b></td>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.title|censor }}</td>
            <td>{{ post.post_time|date:'d M Y' }}</td>
            <td>{{ post.text|truncatechars:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Новостей нет</h2>
{% endif %}

<p></p>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">&laquo; first</a>
            {% if page_obj.previous_page_number != 1 %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        <span class="current">
            {% if  page_obj.paginator.num_pages != 1 %}
                {{ page_obj.number }}
            {% endif %}
        </span>

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">last &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
</div>
{% endblock content %}